.mining_card {
  position: relative;
  display: inline-block;
  padding: 20px;
  margin-top: 40px;
  width: 380px;
  //min-width: 380px;
  max-width: 90vw;
  height: 465px;
  background: #fff;
  box-shadow: 10px 10px 40px 0px rgba(237, 237, 240, 0.6);
  border-radius: 5px;
  border: 1px solid #f5f7fb;
  vertical-align: top;

  .card_loading {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: #ffffff;
    padding: 20px;
    .skeleton_top_title {
      flex: 1;
      padding-left: 20px;
    }
    .skeleton_apr {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 20px 0;
    }
  }
  &_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      display: inline-block;
      margin-right: 12px;
      width: 60px;
      height: 60px;
    }
  }
  &_title_text {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    text-align: right;
    .Call_cover {
      display: inline-block;
      // padding-right: 12px;
      font-size: 14px;
      font-family: IBMPlexSans-Bold, IBMPlexSans;
      font-weight: bold;
      color: #72a065;
      line-height: 24px;
      // background: #f7f7fa;
      border-radius: 5px;
    }
    .Call_cover_logo {
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-right: 4px;
      background: url("../../../assets/images/mining/missCall@2x.png") no-repeat;
      background-size: 100% 100%;
      vertical-align: middle;
    }
    .Put_cover {
      display: inline-block;
      // padding-right: 12px;
      font-size: 14px;
      font-family: IBMPlexSans-Bold, IBMPlexSans;
      font-weight: bold;
      color: #ef6e45;
      line-height: 24px;
      // background: #f7f7fa;
      border-radius: 5px;
    }
    .Put_cover_logo {
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-right: 4px;
      background: url("../../../assets/images/mining/missPut@2x.png") no-repeat;
      background-size: 100% 100%;
      vertical-align: middle;
    }
    .title_text {
      margin-bottom: 8px;
      font-size: 20px;
      font-family: IBMPlexSans-Medium, IBMPlexSans;
      font-weight: 500;
      color: #2a3749;
      line-height: 20px;
    }
    .multiple {
      display: inline-block;
      padding: 0 8px;
      height: 24px;
      font-size: 14px;
      color: #fff;
      line-height: 24px;
      text-align: center;
      background-color: #4364E8;
      border-radius: 12px;
    }
    .multiple_box {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      text-align: right;
      margin-top: 8px;
    }
    .core {
      display: inline-block;
      margin-right: 4px;
      padding: 0 8px;
      height: 24px;
      border-radius: 12px;
      font-size: 14px;
      font-family: HelveticaNeue-Medium, HelveticaNeue;
      font-weight: 500;
      color: #4364E8;
      border: 1px solid #4364E8;
      svg {
        fill: #4364E8;
        vertical-align: text-bottom;
      }
    }
  }
  &_apy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  &_apy_val {
    display: flex;
    flex-direction: column;
    // align-items: center;
    margin-bottom: 0;
    span {
      display: inline-block;
      font-size: 14px;
      font-family: HelveticaNeue;
      color: #919aa6;
      line-height: 14px;
    }
    .value {
      margin-top: 10px;
      color: #2a3749;
    }
    &:last-child {
      text-align: right;
    }
  }
  &_content {
    margin: 12px auto 10px;
    padding: 10px 12px 12px;
    width: 100%;
    background: #f7f7fa;
    border-radius: 5px;
  }
  &_content_val {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0 0;
    &:first-child {
      margin: 0;
    }
    span {
      color: #2a3749;
      font-size: 14px;
      font-family: HelveticaNeue;
      line-height: 14px;
    }
  }
  &_content_rewards {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_content_rewards_val {
    display: flex;
    flex-direction: column;
    //align-items: center;
    span {
      line-height: 20px;
    }
  }
  &_content_icon {
    display: inline-block;
    width: auto;
    height: 22px;
  }
  .buy_link {
    padding-bottom: 10px;
    color: #4364e8;
    font-size: 14px;
    //line-height: 26px;
    font-weight: bold;
    text-decoration: underline;
  }
  &_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    font-size: 16px;
    line-height: 22px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: #fff;
    background: #4364e8;
    border-radius: 5px;
    &:hover {
      color: #fff;
      background: #3050d0;
    }
  }
  &_claim_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    height: 28px;
    font-size: 14px;
    line-height: 16px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: #fff;
    background: #4364e8;
    border-radius: 5px;
    &:hover {
      color: #fff;
      background: #3050d0;
    }
  }
  .countdown_time_128 {
    padding: 4px 6px;
    background-color: #f7f7fa;
  }
}

@media (min-width: 359px) and (max-width: 747px) {
  .mining_card {
    display: block;
    padding: 16px 14px;
    margin: 30px auto 0;
    width: 90vw;
    max-width: 360px;
    min-height: 400px;
    background: #fff;
  }
}

@media (max-width: 359px) {
  .mining_card {
    display: block;
    padding: 16px 14px;
    margin: 30px auto 0;
    width: 90vw;
    max-width: 340px;
    height: 484px;
    min-height: 484px;
  }
}
.ledLight {
  z-index: 1;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: "";
    border-radius: 10px;
    background: #fff;
  }
  &::after {
    filter: blur(8px);
    position: absolute;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    content: "";
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: -2;
    background: linear-gradient(
      45deg,
      red,
      #ffaa2b 10%,
      #f3ff45 20%,
      #84ff7f 30%,
      #7bfdfb 40%,
      #5ee7fc 50%,
      #7fbbff 60%,
      #af88ff 70%,
      #d973fd 80%,
      #ff6fec 90%,
      red
    );
    background-position-x: left;
    background-position-y: top;
    background-size: 300% 300%;
    background-attachment: scroll;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    animation: bgPosition-data-v-6a46f06d 2s linear 0s infinite normal none
      running;
    border-radius: 10px;
    animation: animation_bg 2s linear 0s infinite normal none running;
  }
}
@keyframes animation_bg {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0 50%;
  }
}
