.mining_banner {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  min-width: 1180px;
  height: 200px;
  background: #4364e8;
  &_box {
    margin: 0 auto;
    width: 1180px;
  }
  &_title {
    margin-bottom: 0;
    font-size: 24px;
    font-family: IBMPlexSans-SemiBold, IBMPlexSans;
    font-weight: 600;
    color: #fff;
    line-height: 32px;
  }
  &_content {
    margin-bottom: 0;
    font-size: 16px;
    font-family: IBMPlexSans;
    color: #fff;
    line-height: 20px;
  }
}

@media (min-width: 359px) and (max-width: 747px) {
  .mining_banner {
    padding: 38px 16px 48px 32px;
    width: 100%;
    min-width: 100%;
    &_box {
      margin: 0 auto;
      width: 100%;
    }
  }
}

@media (max-width: 359px) {
  .mining_banner {
    padding: 34px 16px 40px 26px;
    width: 100%;
    min-width: 100%;
    &_box {
      margin: 0 auto;
      width: 100%;
    }
    &_title {
      font-size: 22px;
      line-height: 30px;
    }
  }
}
