.insurance_tips {
  width: 100%;
  background: rgba(255, 184, 1, 0.1);
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #ffb801;
  line-height: 20px;
  p {
    margin: 0 0 0 4px;
  }
}
.hidden {
  visibility: hidden;
}
@media screen and (min-width: 750px) {
  .insurance_tips {
    height: 32px;
    display: flex;
    align-items: center;
  }
  .insurance_form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 360px;
    margin: 30px auto 0;
    .between {
      display: flex;
      justify-content: space-between;
      span {
        &:nth-of-type(1) {
          font-size: 14px;
          color: #2a3749;
        }
        &:nth-of-type(2) {
          font-size: 14px;
          color: #2a3749;
        }
      }
    }
    .select {
      position: relative;
      display: flex;
      align-items: center;
      img {
        width: 14px;
        position: absolute;
        z-index: 1;
        left: 40px;
        cursor: pointer;
      }
    }
    .volume {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      input {
        font-family: PingFangSC-Regular, PingFang SC;
        padding-left: 16px;
        padding-right: 70px;
        font-size: 14px;
        width: 100%;
        height: 48px;
        border-radius: 5px;
        border: 1px solid #d0d8d8;
        &:focus {
          border: 1px solid #4364e8;
        }
      }
      p {
        position: absolute;
        display: flex;
        align-items: center;
        margin: 0 10px 0 0;
        right: 0;
        .max {
          min-width: 44px;
          min-height: 24px;
          padding: 4px 8px;
          background: rgba(67, 100, 232, 0.2);
          border-radius: 5px;
          font-size: 14px;
          font-weight: 500;
          color: #4364e8;
          margin-right: 10px;
          cursor: pointer;
          &:hover {
            border: 1px solid #4364e8;
          }
        }
        > .symbol {
          font-size: 14px;
          font-family: PingFangSC-Regular, PingFang SC;
          color: #919aa6;
          line-height: 15px;
        }
      }
    }
    .left {
      margin-top: 8px;
      font-size: 14px;
      color: #2a3749;
    }
    .confirm {
      width: 100%;
      height: 48px;
      background: #2a3749;
      border-radius: 5px;
      font-size: 14px;
      font-weight: 600;
      color: #ffffff;
      line-height: 20px;
    }
    .diasable {
      background: #ededf0;
      pointer-events: none;
      color: #2a3749;
    }
    .short_mining {
      width: 100%;
      height: 68px;
      display: flex;
      align-items: center;
      background: #f7f7fa;
      border-radius: 5px;
      padding: 16px;
      margin-top: 20px;
      > div {
        display: flex;
        align-items: center;
        flex: 1;
        > p {
          margin: 0 0 0 8px;
          flex: 1;
          font-size: 12px;
          font-family: PingFangSC-Regular, PingFang SC;
          color: #919aa6;
          line-height: 20px;
        }
      }
      .stake {
        margin: 0 0 0 8px;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        .apr {
          font-size: 16px;
          font-family: IBMPlexSans-Medium, IBMPlexSans;
          font-weight: 600;
          color: #2a3749;
        }
        > button {
          width: 60px;
          height: 24px;
          background: #2a3749;
          border-radius: 5px;
          font-size: 14px;
          font-family: IBMPlexSans-Medium, IBMPlexSans;
          font-weight: 500;
          color: #ffffff;
        }
      }
    }
  }
}
@media screen and(max-width:750px) {
  .insurance_tips {
    display: flex;
    align-items: flex-start;
    img {
      margin-top: 2px;
    }
    p {
      flex: 1;
    }
  }
  .insurance_form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 30px auto 0;
    .between {
      display: flex;
      justify-content: space-between;
      span {
        &:nth-of-type(1) {
          font-size: 14px;
          color: #2a3749;
        }
        &:nth-of-type(2) {
          font-size: 14px;
          color: #2a3749;
        }
      }
    }
    .select {
      position: relative;
      img {
        width: 20px;
        position: absolute;
      }
    }
    .volume {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      input {
        font-family: PingFangSC-Regular, PingFang SC;
        padding-left: 16px;
        padding-right: 70px;
        font-size: 14px;
        width: 100%;
        height: 48px;
        border-radius: 5px;
        border: 1px solid #d0d8d8;
        &:focus {
          border: 1px solid #4364e8;
        }
      }
      p {
        position: absolute;
        display: flex;
        align-items: center;
        margin: 0 10px 0 0;
        right: 0;
        .max {
          min-width: 44px;
          min-height: 24px;
          padding: 4px 8px;
          background: rgba(67, 100, 232, 0.2);
          border-radius: 5px;
          font-size: 14px;
          font-weight: 500;
          color: #4364e8;
          margin-right: 10px;
          cursor: pointer;
          &:hover {
            border: 1px solid #4364e8;
          }
        }
        > .symbol {
          font-size: 14px;
          font-family: PingFangSC-Regular, PingFang SC;
          color: #919aa6;
          line-height: 15px;
        }
      }
    }
    .left {
      margin-top: 8px;
      font-size: 14px;
      color: #2a3749;
    }
    .confirm {
      width: 100%;
      height: 48px;
      background: #2a3749;
      border-radius: 5px;
      font-size: 14px;
      font-weight: 600;
      color: #ffffff;
      line-height: 20px;
    }
    .short_mining {
      width: 100%;
      height: 68px;
      display: flex;
      align-items: center;
      background: #f7f7fa;
      border-radius: 5px;
      padding: 16px;
      margin-top: 20px;
      > div {
        display: flex;
        align-items: center;
        flex: 1;
        > p {
          margin: 0 0 0 8px;
          flex: 1;
          font-size: 12px;
          font-family: PingFangSC-Regular, PingFang SC;
          color: #919aa6;
          line-height: 20px;
        }
      }
      .stake {
        margin: 0 0 0 8px;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        .apr {
          font-size: 16px;
          font-family: IBMPlexSans-Medium, IBMPlexSans;
          font-weight: 600;
          color: #2a3749;
        }
        > button {
          width: 60px;
          height: 24px;
          background: #2a3749;
          border-radius: 5px;
          font-size: 14px;
          font-family: IBMPlexSans-Medium, IBMPlexSans;
          font-weight: 500;
          color: #ffffff;
        }
      }
    }
  }
}
.insurance_supply {
  width: 100%;
  margin: 20px auto 30px;
}
.insurance_type {
  display: flex;
  button {
    flex: 1;
    height: 48px;
    width: 510px;
    height: 48px;
    border-radius: 0px 5px 5px 0px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 48px;
    color: #2a3749;
    &:nth-of-type(1) {
      background: linear-gradient(-70deg, transparent 20px, #ededf0 0);
    }
    &:nth-of-type(2) {
      background: linear-gradient(-250deg, transparent 20px, #ededf0 0);
    }
  }
  .insurance_active_call {
    background: linear-gradient(-70deg, transparent 20px, #4364e8 0) !important;
    color: #ffffff;
  }
  .insurance_active_put {
    background: linear-gradient(
      -250deg,
      transparent 20px,
      #4364e8 0
    ) !important;
    color: #ffffff;
  }
}
