.header {
  width: 100%;
  height: 80px;
  background: #ffffff;
  transition: all 200ms;
  display: flex;
  .logo {
    display: flex;
    align-items: center;
    img {
      width: 132px;
      height: 60px;
    }
  }
  .nav_list {
    flex: 1;
    display: flex;
    .nav_list_item {
      padding: 0 30px;
      white-space: nowrap;
      cursor: pointer;
      color: #2a3749;
      &:hover {
        color: #4364e8;
      }
      span {
        display: flex;
        align-items: center;
        height: 100%;
        font-size: 16px;
        border-bottom: 5px solid transparent;
        box-sizing: border-box;
        &.active {
          color: #4364e8;
          border-bottom: 5px solid #4364e8;
          box-sizing: border-box;
        }
        position: relative;
        .is_new_icon{
          width: 35px;
          position: absolute;
          right: -38px;
          top: 11px;
        }
        //&.is_new{
        //  position: relative;
        //  &:after{
        //    content: '';
        //    background-image: url("../../assets/images/new.svg");
        //    background-size: 100% 100%;
        //    background-repeat: no-repeat;
        //    width: 35px;
        //    height: 40px;
        //    position: absolute;
        //    right: -36px;
        //    top: 18px;
        //  }
        //}
      }
    }
  }
  .header_claim {
    margin-right: 10px;
    padding: 0 16px;
    height: 48px;
    font-size: 16px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: #fff;
    background: #9F66FF;
    border-radius: 5px;
    &:hover {
      background: #8247e5;
    }
  }
  .connect_wallet {
    display: flex;
    align-items: center;
    .CONNECT_STYLE {
      height: 48px;
      font-size: 16px;
      color: #ffffff;
      padding: 0 10px;
      line-height: 0;
      cursor: pointer;
    }
    .not_connect {
      .CONNECT_STYLE;
      width: 182px;
      background: #2a3749;
      border-radius: 5px;
    }
    .to_helmet {
      .CONNECT_STYLE;
      background: #4364e8;
      border-radius: 5px;
      margin-right: 10px;
      white-space: nowrap;
      &:hover{
        background: #3050D0;
      }
      img {
        width: 30px;
        height: 30px;
        margin-right: 4px;
      }
    }
    .connected {
      display: flex;
      border-radius: 5px;
      overflow: hidden;
      .balance {
        .CONNECT_STYLE;
        background: #4364e8;
        &:hover{
          background: #3050D0;
        }
        img {
          width: 30px;
          height: 30px;
          margin-right: 4px;
        }
      }
      .address {
        .CONNECT_STYLE;
        background: #2a3749;
        span {
          display: block;
          width: 8px;
          height: 8px;
          background: #72a065;
          border-radius: 50%;
          margin-left: 4px;
        }
      }
    }
  }
  .menu_tab {
    flex: 1;
    display: none;
    flex-direction: row-reverse;
    align-items: center;
    img {
      width: 24px;
      height: 24px;
    }
  }
}
.header_token_contract_address {
  display: flex;
  justify-content: center;
  padding: 14px 10px;
  width: 1200px;
  min-width: 100%;
  height: auto;
  text-align: center;
  background: #F7F7FA;
  span {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('@/assets/images/qingzhu.svg') no-repeat;
    background-size: 100% 100%;
    flex-shrink: 0;
  }
  p {
    margin: 0 0 0 4px;
    font-size: 12px;
    font-family: IBMPlexSans-Medium, IBMPlexSans;
    font-weight: 500;
    color: #17173A;
    line-height: 16px;
    word-break: break-all;
  }
  a {
    display: inline-block;
    margin-left: 14px;
    width: 120px;
    font-size: 12px;
    font-family: IBMPlexSans;
    color: #FFF;
    line-height: 24px;
    background: #17173A;
    border-radius: 5px;
    text-decoration: underline;
  }
}
@media (min-width: 1650px) {
  .header{
   width: 1650px;
    margin: auto;
    padding: 0 50px;
  }
}

@media (max-width: 1199px) {
  .header {
    padding: 0 100px;
  }
}
@media (min-width: 359px) and (max-width: 747px) {
  .header {
    padding: 0 50px;
    .nav_list {
      display: none;
    }
    .connect_wallet {
      display: none;
    }
    .menu_tab {
      display: flex;
    }
  }

  .header_token_contract_address {
    width: 100%;
    min-width: 100%;
  }
}
@media (max-width: 359px) {
  .header {
    padding: 0 16px;
    .nav_list {
      display: none;
    }
    .connect_wallet {
      display: none;
    }
    .menu_tab {
      display: flex;
    }
  }
  .header_token_contract_address {
    width: 100%;
    min-width: 100%;
  }
}

@media (min-width: 747px) and (max-width: 1650px) {
  .header {
    padding: 0 10px;
    width: 1200px;
    margin: 0 auto;
  }
  .header_token_contract_address {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 1200px;
    height: 50px;
    text-align: center;
    background: #F7F7FA;
    span {
      display: inline-block;
      width: 24px;
      height: 24px;
      background: url('@/assets/images/qingzhu.svg') no-repeat;
      background-size: 100% 100%;
      flex-shrink: 0;
    }
    p {
      margin: 0 0 0 4px;
      font-size: 14px;
      font-family: IBMPlexSans-Medium, IBMPlexSans;
      font-weight: 500;
      color: #17173A;
      line-height: 18px;
    }
    a {
      display: inline-block;
      margin-left: 22px;
      padding: 4px 10px;
      font-size: 14px;
      font-family: IBMPlexSans;
      color: #FFF;
      line-height: 24px;
      background: #17173A;
      border-radius: 5px;
      text-decoration: underline;
    }
  }
}
