@media screen and (min-width: 750px) {
  .insurance_banner {
    width: 100%;
    height: 360px;
    // background: url("../../../assets/images/banner/banner_bg.png");
    &_wrap {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
    }
    &_wrap_1 {
      background: url("../../../assets/images/banner/banner_web_1.png");
      background-color: #eaf2ff;
      background-repeat: no-repeat;
      background-size: 1920px 100%;
      background-position: top center;
    }
    &_wrap_2 {
      background: url("../../../assets/images/banner/banner_web_2.png");
      background-color: #275aff;
      background-repeat: no-repeat;
      background-size: 1920px 100%;
      background-position: top center;
    }
    &_wrap_3 {
      background: url("../../../assets/images/banner/banner_web_3.png");
      background-color: #121e4f;
      background-repeat: no-repeat;
      background-size: 1920px 100%;
      background-position: top center;
    }
    &_wrap_4 {
      background: url("../../../assets/images/banner/banner_web_4.png");
      background-color: #587aff;
      background-repeat: no-repeat;
      background-size: 1920px 100%;
      background-position: top center;
    }
    &_wrap_5 {
      background: url("../../../assets/images/banner/banner_web_5.png");
      background-color: #1e2488;
      background-repeat: no-repeat;
      background-size: 1920px 100%;
      background-position: top center;
    }
  }
}
@media screen and (max-width: 750px) {
  .insurance_banner {
    height: 436px;
    background: #fff;
    padding: 0 10px;
    &_wrap {
      border-radius: 5px;
      width: 100%;
      height: 436px;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }
    &_wrap_1 {
      background: url("../../../assets/images/banner/banner_h5_1.png");
      background-repeat: no-repeat;
      background-size: 100% 436px;
      background-position: top center;
    }
    &_wrap_2 {
      background: url("../../../assets/images/banner/banner_h5_2.png");
      background-repeat: no-repeat;
      background-size: 100% 436px;
      background-position: top center;
    }
    &_wrap_3 {
      background: url("../../../assets/images/banner/banner_h5_3.png");
      background-repeat: no-repeat;
      background-size: 100% 436px;
      background-position: top center;
    }
    &_wrap_4 {
      background: url("../../../assets/images/banner/banner_h5_4.png");
      background-repeat: no-repeat;
      background-size: 100% 436px;
      background-position: top center;
    }
    &_wrap_5 {
      background: url("../../../assets/images/banner/banner_h5_5.png");
      background-color: #1e2488;
      background-repeat: no-repeat;
      background-size: 100 436px;
      background-position: top center;
    }
  }
}
