@media screen and (min-width: 750px) {
    .insurance_banner {
        width: 100%;
        height: 360px;
        background: #edeffe;
        &_wrap {
            width: 1400px;
            height: 100%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            > img {
                width: 613px;
                height: 100%;
            }
            > div {
                margin-left: 40px;
                margin-top: 40px;
                h3 {
                    width: 601px;
                    height: 112px;
                    font-size: 32px;
                    font-family: AppleColorEmoji;
                    color: #2a3749;
                    line-height: 53px;
                    letter-spacing: 2px;
                }
                p {
                    width: 594px;
                    height: 44px;
                    font-size: 16px;
                    font-family: PingFangSC-Regular, PingFang SC;
                    font-weight: 400;
                    color: #919aa6;
                    line-height: 22px;
                }
            }
        }
    }
}
@media screen and (max-width: 750px) {
    .insurance_banner {
        width: 100%;
        padding: 30px 17px 0;
        &_wrap {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            > img {
                width: 100%;
            }
            > div {
                padding: 0 11px;
                h3 {
                    font-size: 20px;
                    font-family: IBMPlexSans-Bold, IBMPlexSans;
                    font-weight: bold;
                    color: #2a3749;
                    line-height: 32px;
                }
                p {
                    font-size: 12px;
                    font-family: IBMPlexSans;
                    color: #919aa6;
                    line-height: 18px;
                }
            }
        }
    }
}
