@media (min-width: 1200px) {
  .mining_index {
    width: 100%;
    &_content {
      margin: 0 auto;
      width: 1180px;
    }
  }
}
@media (min-width: 747px) and (max-width: 1199px) {
  .mining_index {
    width: 100%;
    &_content {
      margin: 0 auto;
      width: 1180px;
    }
  }
}
@media (min-width: 359px) and (max-width: 747px) {
  .mining_index {
    padding-bottom: 30px;
    width: 100%;
    &_content {
      margin: 0 auto;
    }
  }
}
@media (max-width: 359px) {
  .mining_index {
    padding-bottom: 30px;
    width: 100%;
    &_content {
      margin: 0 auto;
    }
  }
}
